.logo {
	width: 140px;
	height: 75px;
}

.header-toolbar {
	width: 710px;
	margin-top: 30px; 
}
.header-button{
	border: 1px #ffffff;
	width: 100px;
	float: left;
}

div.header-button:hover{
	cursor: pointer;
	border: 1px solid blue;
	border: 1px solid blue;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.statusBox
{
    position: fixed;
    left: 50%;
    top: 0;
    background-color: #777777;
    z-index: 100;
    height: 30px;
    width: 400px;
    color : white;
}